.MyComponent1Container{
    background-color: #EFE2BA;
    padding: 20px;
}
.project-list-items{
    text-align: left;
}

.inline {
    display:inline-block;
    padding-right: 2em;
    font-size:x-small;
   }